<div class="navbar-buffer"></div>
<div class="container small">
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input id="inputEmail" class="input" type="email" placeholder="e.g. alexsmith@gmail.com" name="email" [(ngModel)] = "user.username" required autofocus>
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input id="inputPassword" class="input" type="password" name="password" [(ngModel)] = "user.password" required>
    </div>
  </div>
  <button class="button" (click)="validateLogin()" type="button">Sign in</button>
</div>
