<nav class="navbar is-fixed-top">
    <a class="navbar-item" [routerLink]="['/home']" routerLinkActive="active">Home</a>
    <a class="navbar-item" [routerLink]="['/my-workouts']" routerLinkActive="router-link-active">My Workouts</a>        
    <a class="navbar-item" [routerLink]="['/exercises']" routerLinkActive="active">Exercises</a>
    <!--<div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link" [routerLink]="['/settings']" routerLinkActive="active">
        Settings
      </a>
      <div class="navbar-dropdown">
        <a class="navbar-item">
            Account
        </a>
        <a class="navbar-item">
            Test
        </a>
      </div>-->