<div class="columns is-marginless is-vcentered">
    <div class="column is-one-quarter">
        <article class="tile box is-child">
            <div class="heading">Total Workouts</div>
            <div class="title">103</div>
            <div class="heading">Workouts Per Week</div>
            <div class="title">4.2</div>
        </article>
    </div>
    <div class="column is-one-quarter">
        <article class="tile box is-child">
            <div class="heading">Total Workout Time</div>
            <div class="title">3D 21H 59M 14S</div>
            <div class="heading">Average Workout Duration</div>
            <div class="title">1H 14M 15S</div>
        </article>
    </div>
    <div class="column is-half">
        <article class="tile is-child box">
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Exercise</th>
                        <th>1RM</th>
                        <th>Last Lift</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Bench Press</td>
                        <td>405</td>
                        <td>Jan 29</td>
                    </tr>
                    <tr>
                        <td>Squat</td>
                        <td>405</td>
                        <td>Jan 27</td>
                    </tr>
                    <tr>
                        <td>Deadlift</td>
                        <td>405</td>
                        <td>Jan 28</td>
                    </tr>
                </tbody>
            </table>
        </article>
    </div>
</div>

<div class="columns is-multiline is-marginless">
    <div class="column is-6">
      <article class="message is-dark">
        <div class="message-header">
          <p>1 Rep Maxes</p>
        </div>
        <div class="message-body">
            <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
            </canvas>
        </div>
      </article>
    </div>
    <div class="column is-6">
      <article class="message is-dark">
        <div class="message-header">
          <p>Muscle Groups by Use</p>
        </div>
        <div class="message-body">
            <canvas baseChart
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType">
            </canvas>
        </div>
      </article>
    </div>
</div>