<div class="columns is-marginless is-vcentered">
    <div *ngIf="workoutsArray" class="column is-one-quarter">
        <div *ngFor="let workout of workoutsArray" class="box" (click)="activate(workout)" [class.has-background-primary]="workout===activeContent">
            <div>
                {{ workout.name }} - {{ workout.end | date: 'MMM d' }}
            </div>
        </div>
</div>
<div class="column is-three-quarters" style="height: 100%">
    <div *ngIf="activeContent">
        <div class="box">
            {{activeContent.name}}
            <br>
            <br>
            Start: {{activeContent.start}}
            <br>
            End: {{activeContent.end}}
            <br>
            <br>
            <div class="tabs" *ngIf="activeContent.exercises">
                <ul *ngFor="let exercise of activeContent.exercises">
                    <li (click)="selectExercise(exercise)" [class.is-active]="exercise===activeExercise"><a>{{exercise.name}}</a></li>
                </ul>
            </div>
            <div *ngIf="activeExercise">
                Primary Muscle: {{activeExercise.primaryMuscle | titlecase }}
                <br>
                <ul *ngFor="let set of activeExercise.sets; let i = index">
                    <li>Set {{i+1}}: {{set.reps}} reps at {{set.weight}} lbs.</li>
                </ul>
            </div>
        </div>
    </div>
</div>